/* 
Notes:
- Needs grids
*/

@import 'reset.css'; /* Meyer reset */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
CONTENTS
1. elements
2. classes / IDs
3. etc.
4. media queries
*/

/* 1 elements ============================ */

html{}

body{
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
}

h1{
    font-size: 4rem;
    display: inline-block;
    vertical-align: top;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    border-left: 5px solid #000;
    margin: 1rem 0 1rem 5rem;
}
p a{
    color: #f00;
    border-bottom: 1px solid #f00;
}
p a:hover{

}

img{
    max-width: 100%;    
}

header{ 
    /* background-image: url(../img/churchill-house-2.jpg); */
    position: fixed;
    top: 0;
    width: 100%;
}
nav{
    display: inline-block;
    width: 100%;
    text-align: right;
}
    nav ul{
        display: inline-block;
        background: rgb(75, 145, 98);
    }
    nav li{
        display: inline-block;
        padding: 1rem;
    }
    nav a:hover{
        color: #fff;
    }

main{
    max-width: 960px;
    margin: 0 auto;
}

/* 2 classes / IDs ============================ */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid p{
    margin: 0;
    border: 0;
}
.grid img{
    grid-column: 1 / 3;
    width: 100%;
}

#grid-visualisation{
    display: grid;
    grid-template-columns: minmax(1rem auto) repeat(12, minmax(0, 100px)) minmax(1rem auto);
    grid-column-gap: 1rem;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
}
#grid-visualisation div{
    background: #0000ff33;
    /* grid-column: 1/3; */
}

.row-hero{
    margin-bottom: 5rem;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    position: relative;
    z-index: -5;
    background: #000;
}
.row-hero img{
    opacity: 0.7;
}
.row-hero p{
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    max-width: 60ch;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 0;
}
/* 3 etc. */
/* 4 Media queries - put them last to avoid cascade issues */

@media screen and (max-width: 900px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .grid{
        display: initial;
        /* grid-template-columns: 1fr; */
    }
}
