/* 
Notes:
- Needs grids
*/

@import 'reset.css'; /* Meyer reset */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
CONTENTS
1. elements
2. classes / IDs
3. hamburger
4. media queries
*/

/* 1 elements ============================ */

:root{
    --green: #4b9162;
}

body{
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: var(--green);
}
p a{
    text-decoration: underline;
}

h1{
    font-size: 4rem;
    position: fixed;
    z-index: -5;
    top: 0;
    left:0;
    padding: 2rem;
    font-family: 'Source Sans Pro', 'Barlow', sans-serif;
    font-weight: 700;
    color: #ffffffdd;
}
h2{
    font-size: 2rem;
    padding: 4rem 0 2rem 0;
}
h3{
    font-size: 1.5rem;
    padding: 3rem 0 1.5rem 0;
}

p{
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
    /* border-left: 5px solid #000;
    margin: 1rem 0 1rem 5rem; */
}

img{
    max-width: 100%;    
}

/* nav{
    position: fixed;
    top: 2rem;
    display: inline-block;
    width: 100%;
    text-align: right;
}
    nav ul{
        display: inline-block;
        background: var(--green);
    }
    nav li{
        display: inline-block;
        padding: 1rem;
    }
    nav a:hover{
        color: #fff;
    } */

main{
    background: #fff;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

/* 2 classes / IDs ============================ */

.flex-gallery{
    display: flex;
    flex-wrap: wrap;
}
    .flex-gallery > li{
        width: 30%;
        flex-grow: 1;
    }
    .flex-gallery img{
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    .grid > p{
        margin: 0;
        border: 0;
        grid-column: 1 / 4;
    }
    .grid > img{
        justify-self: center;
    }

.row-hero{
    margin-bottom: 5rem;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
    z-index: -10;
    background: #291e00;
    /* background-image: url(../img/churchill-house-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
    /* display: flex; */
}
    .row-hero img{
        opacity: 0.5;
        min-width: 100%;
        min-height: 100%;
        flex-shrink: 0;
        object-fit: cover;

    }
    .row-hero p{
        position: fixed;
        left: 1.5rem;
        bottom: 1.5rem;
        max-width: 60ch;
        color: #fff;
        font-size: 1.5rem;
        line-height: 2rem;
        border: 0;
    }

.collapsing{
    /* background: #fff; */
}    

/* 3 Hamburger menu */

/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
    background: none;
    width: 60ch;
    /* Optional */
    position: sticky;
    top: 0;
    right: 0;
  }
  
  /* Hide Hamburger icon */
  #hamnav label, 
  #hamburger { display: none; }
  
  /* Horizontal Menu Items */
  #hamitems { 
      /* padding: 1rem; */
      width: 60ch;
      background: var(--green);
      display: flex; 
      justify-content: flex-end;
    }
  #hamitems a {
    /* width: 20%; 100% / 5 tabs = 20% */
    padding: 1rem;
    color: white;
    text-align: center;
  }
  #hamitems a:hover {
    background: #000;
  }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }


/* 4 Media queries - put them last to avoid cascade issues */

@media screen and (max-width: 900px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .grid{
        display: initial;
    }
    .flex-gallery > li{
        width: unset;
    }
}
@media screen and (max-width: 300px) {
    .flex-gallery{
        flex-direction: column;
    }
    .flex-gallery > li:nth-child(2n){
        display: none;
    }
}




@media screen and (max-height: 300px){
    .row-hero p{
        max-width: unset;
    }
}
@media screen and (max-height: 200px){
    h1{
        font-size: 1rem;
    }
}
